@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100vw;
  background-color:#02061c;
  color: #f2f2f2;
}
/*INICIO HEADER*/
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.navbar__logo{
  margin-top: -7px;
}
.navbar__logo a{
  color: #f2f2f2;
  text-decoration: none;
}
.navbar__logo span{
color:#EB6E38;
}
.navbar__menu{
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.navbar__menu li{
  list-style: none;
}
.navbar__menu a{
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px 20px;
}
.navbar .menu--activo{
  color:#EB6E38;
}
.navbar__menu a:hover{
  background-color: #EB6E38;
  color: #02061c;
  transition: ease 0.4s;
}
/*FIN HEADER*/

/*INICIA MAIN*/
.main__inicio{
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
}
.main__inicio h1 {
  font-size:3em;
}
.main__inicio span{
  color: #EB6E38;
}
button{
  padding: 10px 20px;
  background-color: #EB6E38;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  box-shadow: 1px 3px 11px -5px rgba(235, 110, 56, .69);
  text-transform: uppercase;
}
button:hover{
  background-color: #f2f2f2;
  box-shadow: none;
}

.main--img{
  width: 380px;
  border: 7px solid #EB6E38;
  height: 520px;
}
/*FINALIZA MAIN*/

/*INICIA SOBRE MI*/
.sobreMi{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100vw;
  align-items: center;
}

.sobreMi img{
  width: 100%;
  grid-column: 1/5;
}

.sobreMi p{
  margin-bottom: 1em;
}

.sobreMi__info {
  grid-column: 5/10;
  padding: 3em;
}

.sobreMi__info h2{
  font-size: 2em;
  color: #02061c;
}

.sobreMi__info button{
  text-transform: uppercase;
}

.sobreMi__info button:hover{
  background-color: #02061c;
  color: #EB6E38;
  transition: ease 0.4s;
}
.sobreMi--divisor, .encabezados--divisor, .contacto--divisor{
  height: 4px;
  width: 60px;
  background-color: #EB6E38;
  margin-top: 5px;
  margin-bottom: 2em;
}
/*FIN SOBRE MI*/

/*INICIO PORTFOLIO*/
.portafolio{
  width: 100vw;
  background-color: #02061c;
  color: #f2f2f2;
}

.portafolio__encabezados{
  width: 100vw;
  padding: 5em;
}
.portafolio__encabezados h2{
  font-size: 2.5em;
}

.portafolio .portafolio__container{
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.tarjeta{
  width: 300px;
  height: 450px;
  color: #f2f2f2;
  background-color: #030c3a;
  margin: 1em;
}
.tarjeta__img{
  width: 100%;
  height: 150px;
  background-image: url(../img/coco_logo.png);
  background-size: cover;
}
.tarjeta__titulo{
  padding: 20px;
}

.tarjeta__linkProyecto{
  display: flex;
  justify-content: space-evenly;
}

.tarjeta__linkProyecto a{
  color: #f2f2f2;
  text-decoration: none;
}

.tarjeta__linkProyecto i{
  font-size: 1.5em;
}

.tarjeta__linkProyecto i:hover{
  color: #EB6E38;
  transition: ease 0.4s;
}

.tarjeta .detallesProyecto{
  margin: 0 auto;
  margin: 1em;
  width: 70%;
  
}

.tarjeta .detallesProyecto a{
  text-decoration: none;
  color: #02061c;
  text-transform: uppercase;
}

.detallesProyecto__container{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1em;
}
/* FIN PORFOLIO*/

/*INICIO CONTACTO*/
.contacto{
  background-color: #02061c;
  padding: 3em;
  margin: 0 auto;
}

.contacto__container{
  padding: 3em;
  margin: 0 auto;
  display: flex;
}

.contacto__container img{
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.contacto__titulo h2{
  font-size: 2.5em;
  color: #f2f2f2;
}



.contacto__formulario h4{
  color: #f2f2f2;
}

.formulario{
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin-top: 2em;
}

.formulario input{
  padding: 10px 20px;
  margin-bottom: 1em;
  background: none;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  color: #f2f2f2;
}

.formulario textarea{
  height: 150px;
  background: none;
  color: #f2f2f2;
  padding: 1.5em;
  border: 1px solid #f2f2f2;
}
/*FIN CONTACTO*/

/*INICIA FOOTER*/
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  background-color: #EB6E38;
}

.footer__container h2{
  font-size: 3em;
}

.footer__container h5{
  font-size: 1.5em;
  padding: 0.5em;
}
.redesSociales{
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.redesSociales i{
  font-size: 2.5em;
  color: #02061c;
}

.redesSociales i:hover{
  color: #f2f2f2;
  transition: ease 0.4s;
}
/*FINALIZA FOOTER*/

/* AZULES
#02061c*
#191C32

NARANJA 
#EB6E38

Dorado
#D4B128
/ 
