/*INICIA FOOTER*/
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: $color-secundario;
    font-family: $fuente;

    h2{
    color: $color-principal;
    font-size: 3em;
    font-weight: 600;
    }

    h5{
    color: $color-principal;
    font-size: 1.5em;
    padding: 0.5em;
    font-weight: 600;
    }
}
.redesSociales{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
    
    i{
    font-size: 2.5em;
    color:$color-principal;
    }
    
    &:hover{
    color: $blanco;
    transition: ease 0.4s;
    }
}  
/*FINALIZA FOOTER*/