/*INICIO SOBRE MI*/

.sobreMi{

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: auto;
    align-items: center;
    
    img{
    width: 100%;
    grid-column: 1/5;
    }

    p{
    margin-bottom: 1em;
    }
}
.sobreMi__info {
    font-family: $fuente;
    grid-column: 5/10;
    padding: 3em;

    h2{
    font-size: 2em;
    color: #02061c;
    }

    button{
    text-transform: uppercase;
    }

    &:hover{
    background-color: $color-principal;
    color: $color-secundario;
    transition: ease 0.4s;  
    }
}
.sobreMi--divisor, .encabezados--divisor, .contacto--divisor{
    height: 4px;
    width: 60px;
    background-color: $color-secundario;
    margin-top: 5px;
    margin-bottom: 2em;
}

.habilidades{
    width: 100%;
    background-color: $color-principal;
    color: $blanco;
    font-family: $fuente;
}
.habilidades__encabezados{
    width: 100%;
    padding: 5em;
}
.habilidades__icon{
    padding: 2em;
    display: grid; 
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
    padding-left: 12em;
    margin: 0 auto;

    i{
    font-size: 12em;
    color: $blanco;
    padding-bottom: 0.5em;
    }
    
    &:hover{
    color: $color-secundario;
    transition: ease 0.4s;
    }
}
.icon{  
    width: 15em;
    height: 15em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    p{
    text-align: center;
    font-size: 30px;
    }
}

/*FINALIZA SOBRE MI*/