/*INICIO PORTAFOLIO*/
.portafolio{
    width: auto;
    background-color: $color-principal;
    color: $blanco;
}

.portafolio__encabezados{
    font-family: $fuente;
    width: 100%;
    padding: 5em;
    
    h2{
    font-size: 2.5em;
    }
}
.portafolio .portafolio__container{
    width: 80vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}  
.card-body{
    color: $blanco;
    background-color: $color-principal;
    margin: 1em;

}
.tarjeta{
    width: 300px;
    height: 35em;
    color: $blanco;
    background-color: $color-principal;
    margin: 1em;
}
.tarjeta__img1{
    width: 60%;
    height: 150px;
    background-image: url(../img/iconApp.webp);
    background-size: cover;
    margin:auto;
}
.tarjeta__img2{
    width: 50%;
    height: 150px;
    background-image: url(../img/iconApp.webp);
    background-size: cover;
    margin:auto;
    padding-top: 1em;
}
.tarjeta__img3{
    
    height: 150px;
    background-image: url(../img/20220222142031.png);
    background-size: cover;
    margin:auto;
    padding-top: 1em;
}
.card-img-top-finanzas{
    width: 100%;
    height: 18em;

}  
.card--title{ 
    padding: 20px;
}
.tarjeta__titulo p {
    padding-top: 1em;
}

.tarjeta__linkProyecto{
    display: flex;
    justify-content: space-evenly;

    a{
    color: $blanco;
    text-decoration: none;
    }

    i{
    font-size: 1.5em;
    }
    &:hover{
    color: $color-secundario;
    transition: ease 0.4s;
    }
}
.tarjeta .detallesProyecto{
    margin: auto;
    margin: 1em;
    width: 100%;
    
    a{
    text-decoration: none;
    color: $color-principal;
    width:430px ;
    height: 380px;
    }  
}
.portafolio__contenedor{
    width: 80vw;
    height: auto;
    margin: 0 auto;
    display: grid;
    justify-content: center;
}
.portafolio__tarjeta{
    width: 80vw;
    height: auto;
    color: $blanco;
    background-color: $color-principal;
    margin: 1em;
    
}
.portafolio__img--1{
    width: 15em;
    height: 15em;
    background-image: url(../img/coco_logo_ccexpress.png);
    background-size: cover;
    margin: auto;
    
}

.portafolio__img--2{
    width: 15em;
    height: 15em;
    background-image: url(../img/iconApp.webp);
    background-size: cover;
    margin: auto;
    
}
.portafolio__img--3{
    height: 30em;
    width: auto;
    background-image: url(../img/20220222142031.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    
}
.portafolio__tarjeta--contenido{
    padding: 20px;
    
    h2{
    padding-bottom: 1em;
    padding-left: 1em;
    color: $color-secundario;
    }
    p{
    margin-bottom: 1em;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
    }
}
.portafolio__linkProyecto{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
    
    a{
    color: $blanco;
    text-decoration: none;
    }

    i{
    font-size: 3em;
    }
    
    &:hover{
    color: $color-secundario;
    transition: ease 0.4s;
    }
}
.portafolio__seccion{
    background-color: $color-principal;
}
.portafolio__encabezados h1{
    color: $blanco;
}  

/*FIN PORTAFOLIO*/